main .principal {
  background-image: linear-gradient(#495e57, #495e57);
  background-size: 100% 350px;
  background-repeat: no-repeat;
  padding: 30px 70px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.principal div {
  grid-column: 3/7;
}

.principal img {
  grid-column: 7/11;
  width: 350px;
  height: auto;
  justify-self: end;
}

.principal h1 {
  font-family: "Roboto";
  font-size: 56px;
  letter-spacing: 1px;
}

.principal h2 {
  font-family: "Markazi Text";
  font-size: 32px;
}

.principal p {
  font-family: "Roboto";
  font-size: 20px;
  width: 60%;
}

.principal button {
  font-family: "Roboto";
  font-size: 18px;
  width: 200px;
  height: 60px;
  border: none;
}
