main .principal {
  background-image: linear-gradient(#495e57, #495e57);
  background-size: 100% 320px;
  background-repeat: no-repeat;
  padding: 30px 70px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
}

.principal div {
  grid-column: 3/7;
  color: #fff;
}

.principal img {
  grid-column: 7/11;
  width: 350px;
  height: auto;
  border-radius: 16px;
  justify-self: end;
}

.principal h1 {
  font-family: "Markazi Text";
  font-size: 64px;
  font-weight: normal;
  line-height: 60px;
  color: #f4ce14;
  letter-spacing: 1px;
}

.principal h2 {
  font-family: "Markazi Text";
  font-size: 40px;
  font-weight: normal;
  line-height: 30px;
}

.principal p {
  font-size: 18px;
  width: 350px;
  margin: 20px 0;
}
