.specials {
  grid-template-rows: auto auto;
  row-gap: 50px;
  padding-bottom: 50px;
}

.specials h1 {
  grid-column: 3/8;
  white-space: break-spaces;
}

.specials > button {
  grid-column: 8/11;
  justify-self: end;
}

.specials .cards {
  grid-row: 2;
  grid-column: 3/11;
  display: flex;
  justify-content: space-between;
}

.specials article {
  background-color: #edefee;
  width: 270px;
}

@media screen and (max-width: 1440px) {
  .specials h1 {
    grid-column: 2/9;
  }
  .specials > button {
    grid-column: 9/12;
  }
  .specials .cards {
    grid-column: 2/12;
    justify-self: center;
    width: 100%;
    row-gap: 50px;
    column-gap: 25px;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 1080px) {
  .specials h1 {
    grid-column: 1/9;
  }
  .specials > button {
    grid-column: 9/13;
  }
  .specials .cards {
    grid-column: 1/13;
  }
}

@media screen and (max-width: 840px) {
  .specials h1 {
    grid-column: 1/8;
  }
  .specials > button {
    grid-column: 8/13;
  }
}
