header.grid {
  height: 75px;
  align-items: center;
}

header img {
  grid-column: 3/5;
  width: 180px;
}

header ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-column: 5/11;
  column-gap: 30px;
  justify-self: end;
  font-weight: 500;
  font-size: 20px;
  list-style: none;
}

@media screen and (max-width: 1440px) {
  header img {
    grid-column: 2/4;
  }
  header ul {
    grid-column: 4/12;
    column-gap: 25px;
    font-size: 18px;
  }
}

@media screen and (max-width: 1080px) {
  header img {
    grid-column: 1/3;
    width: 140px;
  }
  header ul {
    grid-column: 3/13;
    column-gap: 20px;
  }
}

@media screen and (max-width: 840px) {
  header.grid {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding-inline: 25px;
    height: auto;
  }
  header img {
    width: 180px;
  }
  header ul {
    grid-column: 3/13;
    justify-items: center;
    width: 95%;
  }
}

@media screen and (max-width: 650px) {
}
