header {
  background: yellow;
  height: 75px;
  margin: 25px 70px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 20px;
  align-items: center;
}

header img {
  grid-column: 3/5;
  width: 100%;
}

header ul {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-column: 5/11;
  column-gap: 30px;
  justify-self: end;
  font-family: "Karla";
  font-size: 20px;
  list-style: none;
}
